{"kegg": null,
 "kofam": "/fs03/ie79/db/DRAM_data/kofam_profiles.hmm",
 "kofam_ko_list": "/fs03/ie79/db/DRAM_data/kofam_ko_list.tsv",
 "uniref": null,
 "pfam": "/fs03/ie79/db/DRAM_data/pfam.mmspro",
 "pfam_hmm_dat": "/fs03/ie79/db/DRAM_data/Pfam-A.hmm.dat.gz",
 "dbcan": "/fs03/ie79/db/DRAM_data/dbCAN-HMMdb-V9.txt",
 "dbcan_fam_activities": "/fs03/ie79/db/DRAM_data/CAZyDB.07302020.fam-activities.txt",
 "viral": "/fs03/ie79/db/DRAM_data/refseq_viral.20210917.mmsdb",
 "peptidase": "/fs03/ie79/db/DRAM_data/peptidases.20210917.mmsdb",
 "vogdb": "/fs03/ie79/db/DRAM_data/vog_latest_hmms.txt",
 "vog_annotations": "/fs03/ie79/db/DRAM_data/vog_annotations_latest.tsv.gz",
 "genome_summary_form": "/fs03/ie79/db/DRAM_data/genome_summary_form.20210917.tsv",
 "module_step_form": "/fs03/ie79/db/DRAM_data/module_step_form.20210917.tsv",
 "etc_module_database": "/fs03/ie79/db/DRAM_data/etc_mdoule_database.20210917.tsv",
 "function_heatmap_form": "/fs03/ie79/db/DRAM_data/function_heatmap_form.20210917.tsv",
 "amg_database": "/fs03/ie79/db/DRAM_data/amg_database.20210917.tsv",
 "description_db": "/fs03/ie79/db/DRAM_data/description_db.sqlite"}